{% extends "base.html" %}
{%load static%}
{%block content%}
<br>
<div class="row">
	<div class="col-sm-6 text-center">
		<h3 class="">Account user ' {{ request.user }} '</h3>
	</div>
	<div class="col-sm-6 text-center">
		<a class="nav-hr btn " href='{% url "password_change" %}'><span class='hr-txt'>
				Change password
			</span><span class="oi" data-glyph="lock-unlocked"></span></a>
		<a class="nav-hr btn ml-2" href='{% url "admin:index" %}'><span class='hr-txt'>
				Go admin panel
			</span>
			<span class="oi" data-glyph="command"></span></a>
	</div>
</div>
<hr>
<h4 class='text-center'>Your orders</h4>
<div class="row">
	<table class='col-sm-8 col-lg-12 nav-hr '>
		<tr class="">
			<td class='text-center'> Order number </td>
			<td class='text-center'> Order Date </td>
			<td class='text-center'> Order Status </td>
			<td class='text-center'> Order Cost </td>
			<td class='text-center'> Order Details </td>
		</tr>
		{% for item in order %}
		<tr class="">
			<td class='text-center' style='padding-top: 20px; padding-bottom: 20px;'>{{ item.id }}</td>
			<td class='text-center' style='padding-top: 20px; padding-bottom: 20px;'>{{ item.date }}</td>
			<td class='text-center' style='padding-top: 20px; padding-bottom: 20px;'>{{ item.status }}</td>
			<td class='text-center' style='padding-top: 20px; padding-bottom: 20px;'>{{ item.total }} $</td>
			<td class='text-center' style='padding-top: 20px; padding-bottom: 20px;'><button type="button"
					class="btn btn-primary btn-md" data-toggle="modal" data-target="#myModal-{{ item.id }}">
					Details
				</button></td>
		</tr>
		{% endfor %}
	</table>
</div>

{%endblock content%}