{% extends "base.html" %} {%load static%} {%block content%}
<link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<!------ Include the above in your HEAD tag ---------->


<!--Coded With Love By Mutiullah Samim-->

<body>
    <div class="container-fluid h-100">
        <div class="row justify-content-center h-100">
            <div class="col-md-8 col-xl-12 chat">
                <div class="card">
                    <div class="card-header msg_head">
                        <div class="d-flex bd-highlight">
                            <div class="img_cont">
                                <img src="https://clipartart.com/images/admin-icon-clipart-5.jpg" class="rounded-circle user_img">
                                <span class="online_icon"></span>
                            </div>
                            <div class="user_info">
                                <span>Chat with Admin</span>
                                <!-- <p>1767 Messages</p> -->
                            </div>

                        </div>

                    </div>
                    <div class="card-body msg_card_body " id="dedd">
                        {% if exist_mess %} {% for mes in chat %} {% if mes.admin %}
                        <div class="d-flex justify-content-start mb-4">
                            <div class="img_cont_msg">
                                <img src="https://clipartart.com/images/admin-icon-clipart-5.jpg" class="rounded-circle user_img_msg">
                            </div>
                            <div class="msg_cotainer">
                                {{ mes.message}} <br>
                                <span class="msg_time_send">{{mes.pub_date}}</span>
                            </div>
                        </div>

                        {% else %}
                        <div class="d-flex justify-content-end mb-4">
                            <div class="msg_cotainer_send">
                                {{ mes.message}}
                                <br>
                                <span class="msg_time_send"> {{mes.pub_date}}</span>
                            </div>
                            <div class="img_cont_msg">
                                <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn%3AANd9GcTuK63MKLKu2yTG4Wg5TmcLV1n2gfzgQ3b30nrNtji7vfw31W5g" class="rounded-circle user_img_msg">
                            </div>
                        </div>
                        {% endif %} {%endfor%} {% endif %}

                    </div>
                    <div class="card-footer">
                        <div class="input-group">
                            <!-- <div class="input-group-append">
                                <span class="input-group-text attach_btn"><i class="fas fa-paperclip"></i></span>
                            </div> -->
                            <textarea name="" id="textsend" class="form-control type_msg" placeholder="Type your message..."></textarea>
                            <div class="input-group-append">
                                <span class="input-group-text  send_btn" id="Sbtn"><img
                                        src="https://s3.us-east-2.amazonaws.com/upload-icon/uploads/icons/png/18556509761553771441-256.png"
                                        alt="" class="sendbtn"></i></span>
                            </div>
                        </div>
                    </div>
                    <audio id="music_id" src="/media/sms-alert-1-daniel_simon.mp3" preload="auto"></audio>
                </div>
            </div>
        </div>
    </div>
</body>
<script>
    var roomName = "{{ room_name|escapejs }}";
    var chatSocket = new WebSocket(
        'ws://' + window.location.host +
        '/ws/chat_view/' + roomName + '/');
    const messages = document.getElementById('dedd');
    chatSocket.onmessage = function(e) {
        var data = JSON.parse(e.data);
        var data = data['message'];
        document.getElementById('music_id').play()
        if (data['admin']) {
            $('#dedd').append(
                '<div class="d-flex justify-content-start mb-4"><div class="img_cont_msg">' +
                '<img src="https://clipartart.com/images/admin-icon-clipart-5.jpg"' +
                'class="rounded-circle user_img_msg"></div><div class="msg_cotainer">' +
                data.message + '<br><span class="msg_time_send">' +
                data.pub_date + '</span></div></div >'
            );
        } else {
            $('#dedd').append(
                '<div class="d-flex justify-content-end mb-4"><div class="msg_cotainer_send">' +
                data.message + '<br><span class="msg_time_send">' +
                data.pub_date + '</span></div><div class="img_cont_msg">' +
                '<img src="https://encrypted-tbn0.gstatic.com/images?q=tbn%3AANd9GcTuK63MKLKu2yTG4Wg5TmcLV1n2gfzgQ3b30nrNtji7vfw31W5g"' +
                'class="rounded-circle user_img_msg"></div></div>'
            );
        }

        shouldScroll = messages.scrollTop + messages.clientHeight === messages.scrollHeight;
        /*
         * Get your messages, we'll just simulate it by appending a new one syncronously.
         */
        // After getting your messages.
        if (!shouldScroll) {
            scrollToBottom(messages);
        }
    }

    function scrollToBottom(messages) {
        messages.scrollTop = messages.scrollHeight;
    }
    chatSocket.onclose = function(e) {
        console.error('Chat socket closed unexpectedly');
    };
    chatSocket.onopen = function() {
        shouldScroll = messages.scrollTop + messages.clientHeight === messages.scrollHeight;
        /*
         * Get your messages, we'll just simulate it by appending a new one syncronously.
         */
        // After getting your messages.
        if (!shouldScroll) {
            scrollToBottom(messages);
        }
    };

    document.querySelector('#textsend').focus();
    document.querySelector('#textsend').onkeyup = function(e) {
        if (e.keyCode === 13) { // enter, return
            document.querySelector('#Sbtn').click();
        }
    };

    document.querySelector('#Sbtn').onclick = function(e) {
        var messageInputDom = document.querySelector('#textsend');
        var message = messageInputDom.value;

        // var requestmessage = "{{ request }}";
        chatSocket.send(JSON.stringify({
            'message': message,
            'command': 'new_message',
            'chat_id': roomName
                // 'request': requestmessage,
        }));

        messageInputDom.value = '';
    };
</script>



{%endblock content%}