{% extends "base.html" %}
{%load static%}
{%block content%}
{% if user.is_superuser %}
<p>Hello, admin.</p>
<div class="container ">

    <table class="table table-striped dedd">
        <tr class="col-8 justify-content-md-center row">
            <th scope="col" class="col-6">
                User
            </th>
            <th scope="col">
                Chat
            </th>
        </tr>
        {% for chat in chats %}
        <tr class="col-8 justify-content-md-center row">
            <td class="col-6 ">
                <strong class="comment-title"> {{ chat.member }} </strong>
            </td>
            <td class="col-6">
                <a class="btn btn-danger d-block" href="{{ chat.get_absolute_url }}">
                    <strong class='comment-same'>{{ chat.id }}
                        <span class="oi" data-glyph="account-login"></span></strong>
                </a>
            </td>

        </tr>
        {% endfor %}
    </table>
</div>
{% endif %}

{%endblock content%}