{% extends "base.html" %}
{%load static%}
{% load crispy_forms_tags %}
{%block content%}

    <!-- <div class="row"> -->
        <!-- <div class="col-sm-4">
            <img src='{{ product.image.url }}'style = 'width:100%; height:100%' >
        </div> -->
        <!-- The grid: four columns -->

<div class="row">
        {% if not  images == False %}
    <div class="col-sm-1">
            

        {% for image in images %}
        
        <div class="column1">
            <img src="{{ image.image.url }}" alt="" onclick="myFunction(this);"style="width:80px;">
        </div>
        
        {% endfor %}
        
    </div>

    <div class="col-sm-6" style="padding-top: 10px;padding-left: 35px;">
            
        <div class="container1">
            <span onclick="this.parentElement.style.display='none'" class="closebtn">&times;</span>
                <img id="expandedImg" style="width:100%">
            <div id="imgtext"></div>
        </div>
    </div>
    {% else %}
    <div class="col-sm-7">

            <img class="img-responsive" style="width: 100%;
            height: 100%;
            /* max-height: 500px; */
            border-radius: 2em/2em;
            padding: 20px;
            /* margin-left: 3%; */" src="{{ product.image.url }}">

    </div>
    {% endif %}


    <div class="col-sm-5">
        <br>
        <h3 class="text-center"><strong>{{ product.title }}</strong></h3>
        <br>
        <p class="text-center"><strong><em>{{ product.description }}</em></strong></p>
        <hr>
        <p>Price: <strong>{{ product.price }} $</strong> </p>
        
        <a href='#' class='add_to_cart' data-slug='{{ product.slug }}'>
            <button class='btn btn-danger'>Add to bin</button>
        </a>
        <table>
            {% for comment in product.comment.all %}
            <br>
            <tr>
                    <strong>  {{ comment.comments }} -+= {{ comment.author }} </strong>
            </tr>
            {% endfor %}
            <tr class="last_comm">
                <strong> </strong>
            </tr>
        </table>
        <form action="" method="GET">
                <input id="example" type="text"  name="Ntext" size="20">
                <a href='#' class="add_comment" data-slug='{{product.slug}}' 
                data-id="{{product.id}}"><button class="btn btn-default">Add comment</button></a>
        </form>
        
       
    </div>
</div>



    <!-- </div> -->


<script src='{% static "js/jquery.js" %}'></script>
<script>
$(document).ready(function(){
    $('.add_to_cart').on("click", function(e){
        e.preventDefault()
        product_slug = $(this).attr('data-slug')
        txt = document.getElementById('example').value
        data = {
            product_slug: product_slug
        }
        $.ajax({
            type: "GET",
            url: '{% url "add_to_cart" %}',
            data: data,
            success: function(data){
                $('#cart_count').html(data.cart_total)
            }
        })
    })
    $('.add_comment').on("click", function(e){
        e.preventDefault()
        var txt = $('#example').val();
        product_slug = $(this).attr('data-slug')    
        data = {
            product_slug: product_slug,
            txt: txt
        }
        location.reload();
        $.ajax({
            type: "GET",
            url: '{% url "add_comment" %}',
            data: data,
            success: function(data){
                $('#last_comm').html("<strong>"+data.auth_id + '$  ' , data.last_comm+ '$ </strong>')

            }
        })

    })
})
function myFunction(imgs) {
  // Get the expanded image
  var expandImg = document.getElementById("expandedImg");
  // Get the image text
  var imgText = document.getElementById("imgtext");
  // Use the same src in the expanded image as the image being clicked on from the grid
  expandImg.src = imgs.src;
  // Use the value of the alt attribute of the clickable image as text inside the expanded image
  imgText.innerHTML = imgs.alt;
  // Show the container element (hidden with CSS)
  expandImg.parentElement.style.display = "block";
}
</script>

{%endblock content%}
