.waqfaq {
    display: inline-block;
    padding-left: 12px;
    padding-right: 12px;
    padding-top: 0px;
    padding-bottom: 0px;
    border-radius: 25px;
    font-size: 13px;
    line-height: 32px;
}

.navbar{
    background-color: #A0434E;
}

@media screen and (min-width: 800px) {
    .container-product .row_prod {
        margin-left: 15px;
    }
}

@media screen and (min-width: 800px) {
    .sidebar {
        /* margin-left: 2em; */
        background-color: #a0434e88;
        border-radius: 1.5em 0em;
    }
}

li a {
    color: #ffffff !important;
    text-decoration-style: solid;
}
li a:hover{
    color: #ffffff;
    background-color: #324E75;
    border-radius:  1em 0em !important;
}

.control_style{
    background: #a0434e9a !important;
    width: 4em !important;
    
}
.control_style::after{
    background: #a0434e9a !important;
}

.custom_title{
    border: 0.1em solid !important;
    background-color: #324E75;
    border-color: black !important;
    border-radius:  1em 0em !important;
}

.custom_category{
    background-color:  #a0434eb0 !important;
    color: white !important;
    border-radius: 1em 0em !important;
}

.custom_category:hover{
    background-color:  #a0434ef6 !important;
}

.sidebar {
    padding: 1em !important;
}

.sidebar img{
    margin-bottom: 1em;
}

.custom_border{
    border: 0.1em solid !important;
    border-color: #A0434E !important;
    border-radius: 3em !important;
}

.car_item{
    background-color: rgba(255, 255, 255, 0) !important;
}

.product_base img{
    background-color: rgba(255, 255, 255, 0) !important;
    border-radius: 1em 0em !important;
    border-style: solid;
    border-color: #324E75 !important;
}

.product_base h4 a{
    color: #324E75;
    text-shadow: 1px 1px 1px #A0434E ;
}

.d_c_h {
    /* width:300px; */
    position: fixed;
    bottom: 10px;
    left: 0px;
    /* background:#fff; */
    border-radius: 3px;
    z-index: 5000;
    display: block;
}

.d_c_h1 {
    width: 360px;
    position: fixed;
    bottom: 10px;
    right: 0px;
    /* background:#fff; */
    border-radius: 3px;
    z-index: 5000;
    display: block;
}

.l_c_h {
    width: 300px;
    position: fixed;
    bottom: 0;
    right: 0px;
    background: #fff;
    border-radius: 3px;
    z-index: 5000;
    display: block;
}

.l_c_h .c_h {
    cursor: pointer;
    border-radius: 0px;
    /*background:#c61432;*/
    background: #2dc3e8;
    line-height: 34px;
}

.l_c_h .left_c {
    color: #ebebeb;
    width: 150px;
    font-size: 16px;
    font-family: Arial, Helvetica, sans-serif;
}

.l_c_h .right_c {
    text-align: center;
    /*background:#DE4A4A;*/
    background: #ff8f32;
    line-height: 36px;
}

.l_c_h .right_c a {
    color: #ebebeb;
    border-radius: 3px;
    box-shadow: 0 1px 0 rgba(255, 255, 255, 0.2) inset, 0 1px 2px rgba(0, 0, 0, 0.05) !important;
    cursor: pointer !important;
    font-size: 16px;
    line-height: normal !important;
    margin-top: 0 !important;
    padding: 1px 0px !important;
    text-align: center !important;
    text-decoration: none;
    font-weight: 600;
}

.clear {
    clear: both;
}

.chat_container {
    /*		display:none;*/
    padding: 5px 26px;
}

.chat_container .no_provider {
    text-align: left;
    color: #5E5652;
    font-size: 12px;
    width: 300px;
    padding: 5px;
    font-family: Arial, Helvetica, sans-serif;
    margin-left: 5px;
}

.chat_container .footer_c {
    text-align: left;
    color: #5E5652;
    font-size: 12px;
    margin-left: 10px;
    margin-bottom: 10px;
    font-family: Arial, Helvetica, sans-serif;
}

.chat_container .footer_c a {
    text-decoration: underline;
    color: #777;
    font-size: 11px;
}

.chat_container .chat_entry {
    margin: 10px;
    margin-top: 0px;
}

.chat_container .chat_entry p {
    margin-top: 10px;
    margin-bottom: 10px;
}

.chat_container .chat_entry h4 {
    text-align: left;
    color: #1A1A1A;
    font-weight: 400;
    font-size: 16px;
    margin-top: 0px;
}

.chat_container .chat_entry input[type="text"] {
    background-color: #fff;
    background-image: none;
    border: 1px solid #ccc;
    border-radius: 2px;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset;
    color: #999;
    font-size: 13px;
    padding: 8px 8px;
    margin-bottom: 5px;
    transition: border-color 0.15s ease-in-out 0s, box-shadow 0.15s ease-in-out 0s;
    width: 100%;
    /* 	height:30px; */
    font-family: Arial, Helvetica, sans-serif;
}

.chat_container .chat_entry input[type="text"]:focus {
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset, 0 0 8px rgba(102, 175, 233, 0.6);
    -webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset, 0 0 8px rgba(102, 175, 233, 0.6);
    -moz-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset, 0 0 8px rgba(102, 175, 233, 0.6);
    outline: 0 none;
    border-color: #66afe9;
}

.chat_container .chat_entry input[type="submit"] {
    padding: 5px 12px;
    margin-bottom: 0;
    font-size: 12px;
    font-weight: normal;
    text-align: center;
    vertical-align: middle;
    -ms-touch-action: manipulation;
    touch-action: manipulation;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background-image: none;
    border: 1px solid transparent;
    border-radius: 0px;
    color: #fff;
    /*background-color: #DD4A4A;*/
    background-color: #2dc3e8 !important;
    font-family: Arial, Helvetica, sans-serif;
}

.chat_container .chat_entry input[type="submit"]:hover {
    background-color: #C64545;
}

.form-error {
    display: none;
}

.chat_message {
    height: 250px;
    overflow-y: scroll;
    padding: 10px;
    border-bottom: 1px solid #222222;
    padding-top: 10px;
}

.chat_message .message_contain {
    margin: 5px;
    background: #FCF8E2;
    padding: 5px;
}

.chat_message .user_message {
    background: #F5F5F5;
}

.chat_message .message_contain .header_image {
    float: left;
    width: 50px;
    margin-top: 0px;
    margin-bottom: 0px;
}

.chat_message .message_contain .chat_mess {
    font-size: 13px;
    color: #444444;
    margin-top: 0px;
}

.chat_message .message_contain .chat_date {
    color: #777;
    font-size: 11px;
    margin-top: 0px;
    margin-bottom: 0px;
}

.chat_text_area {
    margin: 5px;
}

.chat_text_area .messag_send {
    width: 100%;
    resize: none;
    background-color: #fff;
    background-image: none;
    border: 1px solid #ccc;
    border-radius: 2px;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset;
    color: #555;
    padding: 5px;
    font-size: 13px;
    height: 35px;
}

.chat_text_area .messag_send:focus {
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset, 0 0 8px rgba(102, 175, 233, 0.6);
    -moz-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset, 0 0 8px rgba(102, 175, 233, 0.6);
    -webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset, 0 0 8px rgba(102, 175, 233, 0.6);
    outline: 0 none;
    border-color: #66afe9;
}

.left {
    float: left;
}

.right {
    float: right;
}

.left_icons {
    width: 35px;
    height: auto;
    text-align: center;
    color: #999;
    /*background:#DE4A4A;*/
    background: #ff8f32;
    font-size: 15px;
}

.left_icons a {
    color: #fff;
    font-weight: normal;
}

.center_icons {
    text-align: center;
    padding: 2px 0px 0px 5px;
}

.logout img {
    margin-top: 8px;
}

.carousel-item img {
    width: auto;
    height: 215px;
    max-height: 215px;
    margin: auto;
    display: block;
}

.dropdown-menu {
    background: -webkit-gradient(linear, left top, left 25, from(#E17D7B), color-stop(4%, #390E0D), to(#E17D7B));
    background: -moz-linear-gradient(top, #E17D7B, #390E0D 1px, #E17D7B 25px);
    color: white;
}

.dropdown-menu li>a {
    color: #fff;
}

.dropdown-menu>li {
    background: #D9534F;
    border-bottom: 1px solid #791C1A;
    border-left: 2px solid #791C1A;
    border-right: 2px solid #791C1A;
}

.dropdown-menu li>a:hover {
    background: #D9534F;
}

.dropdown-menu>li>.divider {
    background-color: #D9534F;
    border: 10px solid #791C1A;
}

html {
    height: 100%;
}

body {
    margin: 0;
    padding-bottom: 50px;
}

.bg {
    animation: slide 9s ease-in-out infinite alternate;
    background-image: linear-gradient(-60deg, rgba(131, 157, 158, 0.938) 50%, rgb(255, 255, 255) 50%);
    bottom: 0;
    left: -50%;
    opacity: .5;
    position: fixed;
    right: -50%;
    top: 0;
    z-index: -1;
}

.bg2 {
    animation-direction: alternate-reverse;
    animation-duration: 12s;
}

.bg3 {
    animation-duration: 14s;
}

h1 {
    font-family: monospace;
}

@keyframes slide {
    0% {
        transform: translateX(-25%);
    }
    100% {
        transform: translateX(25%);
    }
}


/* The grid: Four equal columns that floats next to each other */

.column1 {
    float: center;
    width: 50%;
    padding: 10px;
}


/* Style the images inside the grid */

.column1 img {
    opacity: 0.8;
    cursor: pointer;
    box-sizing: border-box;
}

.column1 img:hover {
    opacity: 1;
}


/* Clear floats after the columns */

.row1:after {
    content: "";
    display: table;
    clear: both;
    box-sizing: border-box;
}


/* The expanding image container (positioning is needed to position the close button and the text) */

.container1 {
    position: relative;
    display: none;
    box-sizing: border-box;
}


/* Expanding image text */

#imgtext {
    position: absolute;
    bottom: 15px;
    left: 15px;
    color: white;
    font-size: 20px;
    box-sizing: border-box;
}


/* Closable button inside the image */

.closebtn {
    position: absolute;
    top: 10px;
    right: 15px;
    color: white;
    font-size: 35px;
    cursor: pointer;
    box-sizing: border-box;
}

html {
    height: 100%;
}

body {
    min-height: 100%;
    margin: 0;
    position: relative;
}

header {
    height: 50px;
    background: lightcyan;
}

footer {
    background: PapayaWhip;
}


/* Trick: */

body {
    position: relative;
}

body::after {
    content: '';
    display: block;
    height: 50px;
    /* Set same as footer's height */
}

#footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 50px;
}

li {
    list-style-type: none;
    /* Убираем маркеры */
    margin-left: 20px;
}



.chat {
    margin-top: auto;
    margin-bottom: auto;
}

.card {
    height: 500px;
    border-radius: 15px !important;
    /* background-color: rgba(0, 0, 0, 0.4) !important; */
    background-color: #A0434E !important;
}

.contacts_body {
    padding: 0.75rem 0 !important;
    overflow-y: auto;
    white-space: nowrap;
}

.msg_card_body {
    overflow-y: auto;
}

.card-header {
    border-radius: 15px 15px 0 0 !important;
    border-bottom: 0 !important;
}

.card-footer {
    border-radius: 0 0 15px 15px !important;
    border-top: 0 !important;
}

.container {
    align-content: center;
}

.search {
    border-radius: 15px 0 0 15px !important;
    background-color: rgba(0, 0, 0, 0.3) !important;
    border: 0 !important;
    color: white !important;
}

.search:focus {
    box-shadow: none !important;
    outline: 0px !important;
}

.type_msg {
    background-color: rgba(0, 0, 0, 0.3) !important;
    border: 0 !important;
    color: white !important;
    height: 60px !important;
    overflow-y: auto;
}

.type_msg:focus {
    box-shadow: none !important;
    outline: 0px !important;
}

.attach_btn {
    border-radius: 15px 0 0 15px !important;
    background-color: rgba(0, 0, 0, 0.3) !important;
    border: 0 !important;
    color: white !important;
    cursor: pointer;
}

.send_btn {
    border-radius: 0 15px 15px 0 !important;
    background-color: rgba(0, 0, 0, 0.3) !important;
    border: 0 !important;
    color: white !important;
    cursor: pointer;
}

.search_btn {
    border-radius: 0 15px 15px 0 !important;
    background-color: rgba(0, 0, 0, 0.3) !important;
    border: 0 !important;
    color: white !important;
    cursor: pointer;
}

.contacts {
    list-style: none;
    padding: 0;
}

.contacts li {
    width: 100% !important;
    padding: 5px 10px;
    margin-bottom: 15px !important;
}

.active {
    background-color: rgba(0, 0, 0, 0.3);
}

.user_img {
    height: 70px;
    width: 70px;
    border: 1.5px solid #f5f6fa;
}

.user_img_msg {
    height: 40px;
    width: 40px;
    border: 1.5px solid #f5f6fa;
}

.img_cont {
    position: relative;
    height: 70px;
    width: 70px;
}

.img_cont_msg {
    height: 40px;
    width: 40px;
}

.online_icon {
    position: absolute;
    height: 15px;
    width: 15px;
    background-color: #4cd137;
    border-radius: 50%;
    bottom: 0.2em;
    right: 0.4em;
    border: 1.5px solid white;
}

.offline {
    background-color: #c23616 !important;
}

.user_info {
    margin-top: auto;
    margin-bottom: auto;
    margin-left: 15px;
}

.user_info span {
    font-size: 20px;
    color: white;
}

.user_info p {
    font-size: 10px;
    color: rgba(255, 255, 255, 0.6);
}

.video_cam {
    margin-left: 50px;
    margin-top: 5px;
}

.video_cam span {
    color: white;
    font-size: 20px;
    cursor: pointer;
    margin-right: 20px;
}

.msg_cotainer {
    margin-top: auto;
    margin-bottom: auto;
    margin-left: 10px;
    border-radius: 25px;
    background-color: #82ccdd;
    padding: 10px;
    position: relative;
    width: 85%;
}

.msg_cotainer_send {
    margin-top: auto;
    margin-bottom: auto;
    margin-right: 10px;
    border-radius: 25px;
    background-color: #78e08f;
    padding: 10px;
    position: relative;
    width: 85%;
    display: block;
}

.msg_time {
    position: absolute;
    left: 0;
    bottom: -15px;
    color: rgba(255, 255, 255, 0.5);
    font-size: 10px;
}

.msg_time_send {
    /* position: absolute; */
    right: 0;
    bottom: -15px;
    color: rgba(27, 75, 231, 0.966);
    font-size: 10px;
}

.msg_head {
    position: relative;
}

#action_menu_btn {
    position: absolute;
    right: 10px;
    top: 10px;
    color: white;
    cursor: pointer;
    font-size: 20px;
}

.action_menu {
    z-index: 1;
    position: absolute;
    padding: 15px 0;
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    border-radius: 15px;
    top: 30px;
    right: 15px;
    display: none;
}

.action_menu ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.action_menu ul li {
    width: 100%;
    padding: 10px 15px;
    margin-bottom: 5px;
}

.action_menu ul li i {
    padding-right: 10px;
}

.action_menu ul li:hover {
    cursor: pointer;
    background-color: rgba(0, 0, 0, 0.2);
}

@media(max-width: 576px) {
    .contacts_card {
        margin-bottom: 15px !important;
    }
}

.sendbtn {
    width: 25px;
    height: auto;
    position: relative;
}

  
.beut_butt {
    display: -webkit-box;
    display: contents;
    height: 100vh;
    -webkit-box-align: center;
            align-items: center;
    -webkit-box-pack: center;
            justify-content: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
            flex-flow: column;
  }
  .beut_butt a {
    width: 100%;
    max-width: 140px;
    height: 34px;
    padding: 8px;
    font-size: 0.8rem;
    font-weight: 900;
    color: #ff4655;
    text-align: center;
    text-transform: uppercase;
    text-decoration: none;
    box-shadow: 0 0 0 1px inset rgba(236, 232, 225, 0.3);
    position: absolute;
    margin: 10px 0;
  }
  .beut_butt a.white:hover > p {
    color: #ece8e1;
  }
  .beut_butt a.white > p {
    background: #ece8e1;
    color: #0f1923;
  }
  .beut_butt a.white > p span.base {
    border: 1px solid transparent;
  }
  .beut_butt a.transparent:hover > p {
    color: #ece8e1;
  }
  .beut_butt a.transparent:hover > p span.text {
    box-shadow: 0 0 0 1px #ece8e1;
  }
  .beut_butt a.transparent > p {
    background: #0f1923;
    color: #ece8e1;
  }
  .beut_butt a.transparent > p span.base {
    border: 1px solid #ece8e1;
  }
  .beut_butt a:after, .beut_butt a:before {
    content: "";
    width: 1px;
    position: absolute;
    height: 8px;
    background: #0f1923;
    left: 0;
    top: 50%;
    -webkit-transform: translateY(-50%);
            transform: translateY(-50%);
  }
  .beut_butt a:before {
    right: 0;
    left: initial;
  }
  .beut_butt a p {
    margin: 0;
    height: 54px;
    line-height: 54px;
    box-sizing: border-box;
    z-index: 1;
    left: 0;
    width: 100%;
    position: relative;
    overflow: hidden;
  }
  .beut_butt a p span.base {
    box-sizing: border-box;
    position: absolute;
    z-index: 2;
    width: 100%;
    height: 100%;
    left: 0;
    border: 1px solid #ff4655;
  }
  .beut_butt a p span.base:before {
    content: "";
    width: 2px;
    height: 2px;
    left: -1px;
    top: -1px;
    background: #0f1923;
    position: absolute;
    -webkit-transition: 0.3s ease-out all;
    transition: 0.3s ease-out all;
  }
  .beut_butt a p span.bg {
    left: -5%;
    position: absolute;
    background: #ff4655;
    width: 0;
    height: 100%;
    z-index: 3;
    -webkit-transition: 0.3s ease-out all;
    transition: 0.3s ease-out all;
    -webkit-transform: skewX(-10deg);
            transform: skewX(-10deg);
  }
  .beut_butt a p span.text {
    z-index: 4;
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
  }
  .beut_butt a p span.text:after {
    content: "";
    width: 4px;
    height: 4px;
    right: 0;
    bottom: 0;
    background: #0f1923;
    position: absolute;
    -webkit-transition: 0.3s ease-out all;
    transition: 0.3s ease-out all;
    z-index: 5;
  }
  .beut_butt a:hover {
    color: #ece8e1;
  }
  .beut_butt a:hover span.bg {
    width: 110%;
  }
  .beut_butt a:hover span.text:after {
    background: #ece8e1;
  }
  